<div class="wrapper">
	<div class="row">
		<div class="col-md-1 col-sm-2">
			<div class="menu-box">
				<div class="icon-box">
					<img src="images/scribe-logo.svg" class="img-logo" alt="">
				</div>
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" href="#/admin">
							<span class="ico collect"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#/newnotebook">
							<span class="ico notes"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#/stats">
							<span class="ico stat"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#/config">
							<span class="ico settings"></span>
						</a>
					</li>
				</ul>
				<div class="exit-box">
					<a class="nav-link" href="#/loginAdmin">
						<span class="exit"></span>
					</a>
					<div class="termins">
						<a target="_blank" href="http://www.scribe.com.mx/aviso-de-privacidad/" >© Terminos y condiciones</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-11 col-sm-10">
			<div class="collections-wrapper">
				<div class="row marginL0">
					<div class="col-md-3 col-sm-5 paddingLess">
						<p class="title-admin">Colecciones</p>
					</div>
				</div>
				<div class="row marginL0">
					<p class="light-text">DAR DE ALTA UNA NUEVA COLECCIÓN</p>
					<div class="col-md-3 col-sm-6 paddingLess">
						<input type="text" placeholder="Nombre de la colección" class="general-input" ng-keyup="removeDisabled()" data-ng-model="collection.name" id="nombre">
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="fileUpload btn btn-gray" ng-click="openFileDialog('#picture')">
							<span>+ Imagen de la colección</span>
						</div>
						<input type="file" name="files" id="picture" class="hidden" accept="image/*" onchange="angular.element(this).scope().readURL(this)">
					</div>
					<div class="col-md-3 col-sm-10">
						<img id="img_prev3" src="#" alt="your image"  class="hidden view-image"/>
					</div>
					<div class="col-sm-12 marginT20 paddingLess">
						<button type="submit" class="btn btn-allred" disabled="true" id="submit-button" data-ng-click="uploadCollection()">Cargar</button>
					</div>
				</div>
				<div class="row marginL0">
					<div class="heading">
						<p>Todas las Colecciones</p>
						<span class="select"></span>
					</div>
					<div class="collection-list">
						<div class="col-md-2 col-sm-4 list-box" data-ng-repeat="collection in collectionsList" onclick="angular.element(this).scope().pruebasClick(this)">
							<img data-ng-src="https://luisvardez.000webhostapp.com/{{collection.coverUrl}}" value="{{collection.id}}" alt="">
							<h1>{{collection.name}}</h1>
						</div>
					</div>
					<div id="dvData" class="hidden">
						<table>
							<thead>
								<tr>
									<th>Nombre de coleccion</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="collection in collectionsList">
									<td>{{collection.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="submitCorrect" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NUEVA COLECCIÓN</h5>
      </div>
      <div class="modal-body">
        <p>Cargada exitósamente.</p>
      </div>
    </div>
  </div>
</div>