<nav class="navbar navbar-default navbar-fixed-top menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-1 icon-box">
				<img src="images/scribe-logo.svg" class="img-logo" alt="">
			</div>
			<div class="col-sm-11 borderB">
				<div class="col-sm-4 searching">
					<!-- <div class="form-group">
						<input type="text" class="form-control ico-search" placeholder="Buscar">
						<span class="ico-search"></span>
					</div> -->
				</div>
				<div class="col-sm-8">
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><span class="user"></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</nav>
<div class="wrapper">
	<div class="row">
		<div class="col-sm-1">
			<div class="menu-box">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="">
							<span class="ico dashboard"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#/admin">
							<span class="ico collect"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#/newnotebook">
							<span class="ico notes"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#/stats">
							<span class="ico stat"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">
							<span class="ico settings"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-11">
			<div class="collections-wrapper">
				<div class="row marginL50">
					<div class="col-md-3 col-sm-5 paddingLess">
						<p class="title-admin">Collecciones</p>
					</div>
					<div class="col-sm-3">
						<button type="button" class="btn btn-red" ng-click="export(e)">
						<span class="fill"></span>
						Exportar</button>
					</div>
				</div>
				<div class="row marginL50">
					<p class="light-text">DAR DE ALTA UNA NUEVA COLECCIÓN</p>
					<div class="col-md-3 col-sm-6 paddingLess">
						<input type="text" placeholder="Nombre de la colección" class="general-input" data-ng-model="collection.name" id="nombre">
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="fileUpload btn btn-gray" ng-click="openFileDialog('#picture')">
							<span>+ Imagen de la collección</span>
						</div>
						<input type="file" name="files" id="picture" class="hidden" multiple onchange="angular.element(this).scope().readURL(this)">
					</div>
					<div class="col-md-3 col-sm-10">
						<img id="img_prev3" src="#" alt="your image"  class="hidden view-image"/>
					</div>
					<div class="col-sm-12 marginT20 paddingLess">
						<button type="submit" class="btn btn-allred" data-ng-click="uploadCollection()">Cargar</button>
					</div>
				</div>
				<div class="row marginL50">
					<div class="heading">
						<p>Todas las Colecciones</p>
						<span class="select"></span>
						<div class="options">
							<div class="views">
								<img src="images/view1.jpg" alt="">
							</div>
							<div class="views">
								<img src="images/Fill_38.svg"  alt="">
							</div>
						</div>
					</div>
					<div class="collection-list">
						<div class="col-md-2 col-sm-4 list-box" data-ng-repeat="collection in collectionsList">
							<img data-ng-src="https://luisvardez.000webhostapp.com/{{collection.coverUrl}}" alt="">
							<h1>{{collection.name}}</h1>
						</div>
					</div>
					<span class="more"></span>
						<div id="dvData" class="hidden">
							<table>
								<thead>
									<tr>
									<th>Nombre de coleccion</th>
								</tr>
								</thead>
								<tbody>
								<tr data-ng-repeat="collection in collectionsList">
									<td>{{collection.name}}</td>
								</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>