<!-- <div class="bgLogin"></div> -->
<div class="header">
	<div class="show-list hidden"></div>
	<img src="images/scribe-logo.svg" alt="">
</div>
<div class="content-wrapper">
	<div class="row login-admin">
		<div class="col-xs-12">
			<h1>Inicia sesión</h1>
			<div class="form-group">
				<input type="text" class="form-control email-input general-input" placeholder="yourname@domain.com" data-ng-model="email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control pass-input general-input" data-ng-model="password">
			</div>
			<a href="" ng-click="pruebas()"><div class="red-btn disabled">Accesar</div></a>
			<div class="form-check squaredFour">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" ng-click="checking()" value="None" id="squaredFour" name="check" >
				</label>
				<span class="textCheck">Recordar contraseña</span>
			</div>		
			<p>¿Olvido su contraseña?<span class="ico-help"></span></p>
			<a href="" class="termins">Terminos y condiciones</a>
		</div>
	</div>
</div>