<nav class="navbar navbar-default navbar-fixed-top menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-1 icon-box">
				<img src="images/scribe-logo.svg" class="img-logo" alt="">
			</div>
			<div class="col-sm-11 borderB">
				<div class="col-sm-4 searching">
					<!-- <div class="form-group">
						<input type="text" class="form-control ico-search" placeholder="Buscar">
						<span class="ico-search"></span>
					</div> -->
				</div>
				<div class="col-sm-8">
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><span class="user"></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</nav>
<div class="wrapper">
	<div class="row">
		<div class="col-sm-1">
			<div class="menu-box">
				<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link" href="">
						<span class="ico dashboard"></span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#/admin">
						<span class="ico collect"></span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#/newnotebook">
						<span class="ico notes"></span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#/stats">
						<span class="ico stat"></span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">
						<span class="ico settings"></span>
					</a>
				</li>
			</ul>
			</div>
			
		</div>
		<div class="col-sm-11">
			<div class="notebooks-wrapper section">
				<div class="row marginL50">
					<div class="col-md-3 col-sm-5 paddingLess">
						<p class="title-admin">Libretas</p>
					</div>
					<div class="col-sm-3">
						<button type="button" class="btn btn-red disabled" ng-click="export(e)">
						<span class="fill"></span>
						Exportar</button>
					</div>
				</div>
				<div class="row marginL50">
					<p class="light-text">DAR DE ALTA UNA NUEVA LIBRETA</p>
					<div class="col-md-3 col-sm-6 paddingLess">
						<select class="selectpicker general-input capitalize" data-ng-model="selectedCollection" data-ng-change="setCollection(selectedCollection)">
							<option class="selected">Colecciones</option>
							<option data-ng-repeat="collection in collectionsList"  ng-value="{{collection.id}}">{{collection.name}}</option>
						</select>
					</div>
					<div class="col-md-3 col-sm-5">
						<input type="text" placeholder="Nombre" id="nombre" class="general-input" data-ng-model="notebookObject.name">
					</div>
					<div class="col-md-5 col-sm-12">
						<input type="text" placeholder="Descripción" id="descripcion" class="general-input" data-ng-model="notebookObject.descripcion">
					</div>
					<div class="col-md-3 col-sm-4 marginT20 paddingLess">
						<div class="fileUpload btn btn-gray" ng-click="openFileDialog('#fileupload')">
							<span>+ Imagen de portada</span>
						</div>
						<div>
							<input id="fileupload" type="file" name="files[]" class="hidden"  multiple onchange="angular.element(this).scope().readURL(this, '#img_prev')">
						</div>
						<!-- <img id="img_prev" src="#" alt="your image"  class="hidden img-prev"/> -->
					</div>
					<div class="col-md-3 col-sm-4 marginT20">
						<div class="fileUpload btn btn-gray" ng-click="openFileDialog('#fileupload2')">
							<span>+ Imagen del detalle</span>
						</div>
						<div>
							<input id="fileupload2" type="file" name="files[]" class="hidden" multiple onchange="angular.element(this).scope().readURL(this, '#img_prev2')">
						</div>
						
					</div>
					<div class="col-sm-2 marginT20">
						<button type="submit"  class="btn btn-allred" data-ng-click="uploadNotebook()">Cargar</button>
					</div>
					<div class="col-md-4 col-sm-10">
						<img id="img_prev" src="#" alt="your image"  class="hidden view-image margins"/>
						<img id="img_prev2" src="#" alt="your image"  class="hidden view-image margins"/>
					</div>
				</div>
				<div class="row marginL50">
					<div class="heading">
						<p>Cargar Libreta /<span class="text-bold note-selected capitalize"></span></p>
						<span class="select"></span>
						<div class="options">
							<div class="views">
								<img src="images/view1.jpg" alt="">
							</div>
							<div class="views">
								<img src="images/Fill_38.svg"  alt="">
							</div>
						</div>
					</div>
					<div class="collection-list">
						<div class="col-md-2 col-sm-4 list-box" data-coleccion="{{notebooks.collection}}" data-id="{{notebooks.id}}" data-nombre="{{notebooks.name}}" data-ng-repeat="notebooks in collectionNotebooks">
							<img data-ng-src="https://luisvardez.000webhostapp.com/{{notebooks.coverSource}}" alt="">
							<h1 class="title-note">{{notebooks.name}}</h1>
						</div>
					</div>
					<span class="more"></span>
					<div id="dvData" class="hidden">
							<p class="title"></p>
							<table>
								<thead>
									<tr>
									<th colspan="2">Libreta</th>
									<th colspan="2">Descripción</th>
								</tr>
								</thead>
								<tbody>
								<tr data-ng-repeat="notebooks in collectionNotebooks">
									<td colspan="2">{{notebooks.name}}</td>
									<td colspan="2">{{notebooks.descripcion}}</td>
								</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
