<div class="row">
	<h1>Cargar colección</h1>
	<form>
		<div class="form-group">
			<label for="nombre">Nombre:</label>
			<input type="text" class="form-control" id="nombre" placeholder="Nombre" data-ng-model="collection.name" style="text-transform:lowercase">
		</div>
		<div class="form-group">
		    <label for="">File input</label>
			<input type="file" name="file" id="picture"/>
		    <p class="help-block">Example block-level help text here.</p>
	  	</div>
		<button type="submit" class="btn btn-default" data-ng-click="uploadCollection()">Cargar</button>
	</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
	<h1>Cargar Libreta</h1>
	<form>
		<div class="form-group">
			<label for="nombre">Nombre:</label>
			<input type="text" class="form-control" id="nombre" placeholder="Nombre" data-ng-model="notebookObject.name">
		</div>
		<div class="form-group">
			<label for="url-cover">URL Portada</label>
			<input type="text" class="form-control" id="url-cover" placeholder="URL Portada" data-ng-model="notebookObject.coverSource">
		</div>
		<div class="form-group">
			<label for="url-list-cover">File input</label>
			<input type="text" class="form-control" id="url-list-cover" placeholder="URL Portada" data-ng-model="notebookObject.listCoverSource">
		</div>
		<div class="form-group">
			<label for="collection">Colección</label>
			<select id="collection" class="form-control" data-ng-model="selectedCollection" data-ng-change="setCollectionId();">
				<option data-ng-repeat="collection in collectionsList" value="{{collection.id}}">{{collection.name}}</option>
			</select>
		</div>
		<div class="form-group">
		<span class="btn btn-success fileinput-button">
              <i class="glyphicon glyphicon-plus"></i>
              <span>Select files...</span>
              <input id="fileupload" type="file" name="files[]" multiple>
            </span></div>

		<button type="submit" class="btn btn-default" data-ng-click="uploadNotebook();uploadFile()">Submit</button>
</div>
